body {
    margin: 0;
}

#login-section,
#cadastro-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #EBEFFF;

    .login-container,
    .cadastro-container {
        width: 367px;
        height: fit-content;
        text-align: center;
        font-family: $font-family;
        position: relative;
        z-index: 1;

        h2 {
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #1A1A1A;
        }

        .input-group {
            display: flex;
            flex-flow: column;

            label {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: start;
            }

            input {
                border: 1px solid #656ED3;
                border-radius: 50px;
                padding: 10px;
                font-size: 14px;

            }

            &:nth-last-of-type(1) {
                margin-bottom: 42px;
            }

            &#conf_password_div {
                margin-bottom: 23px !important;
            }
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #656ED3;
            color: #AFB3FF;
            border-radius: 50px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 54px;

            &:hover {
                color: white;
                scale: 0.99;
            }

            &#cadastro-btn {
                margin-bottom: 27px;
                
            }
        }

        .signup-link {
            margin-top: 10px;
            font-size: 14px;
            color: black;

            a {
                color: black;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .error-message {
            color: red;
            font-size: 14px;
        }
    }

    #purple-bg {
        width: 35%;
        height: 100%;
        background-color: #AFB3FF;
        position: absolute;
        right: 0;
    }

}

#login-section {
    svg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }


    img {
        position: absolute;
        left: 43%;
        transform: rotate(-10deg);
    }

    .login-container {
        margin-left: 125px;
        .input-group {
            gap: 15px;
            margin-bottom: 12px;
        }
    }

    @include lg {
        img {
            width: 500px;
            height: 381px;
            left: 45%;
        }
    }

    @include md {
        img {
            display: none;
        }
    }

    @include sm {
        justify-content: center;

        .login-container {
            margin-left: 0px;
        }

        #purple-bg {
            display: none;
        }
    }

    @include lower-sm {
        padding:10px;
    }
}

#cadastro-section {
    justify-content: flex-end;
    padding: 30px 0 35px 0;

    svg {
        position: absolute;
        left: 15%;
        top: 0;
    }

    img {
        height: 492px;
        width: 536px;
        position: absolute;
        left: 20%;
        bottom: 51px;
    }
    
    .cadastro-container {
        margin-right: 150px;

        #form_cadastro_2 {
            display: none;

            #form-step-2 {
                display: none;
            }
            .btn-group {
                width: 100%;
                display: flex;
                justify-content: space-between;
                button {
                    width: 45%;
                }

                #prev-btn {
                    background-color: #AFB3FF;
                    color: #656ED3;
                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .input-group {
            gap: 8px;
            margin-bottom: 8px;
        }

        
    }

    @include lg {
        svg {
            left: -3%;
        }
        img {
            width: 400px;
            height: 367px;
            left: 9%;
            bottom: 20%;
        }
    }
}

#bg-success {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    z-index: 5; 
}
#msg-success {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .close {
        background-color: red;
        height: 20px;
        width: 20px;
    }
}