body {
    background-color: $bg-color !important;
    font-family: $font-family !important;
}

#tarefa-header {
    .container {
        display: flex;
        justify-content: space-between;

        .menu-header {
            ul {
                height: 50px;
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 30px;

                li {
                    font-size: 20px;

                    a {
                        color: $dark-purple;
                        display: flex;
                        text-decoration: none;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 0%;
                            height: 3px;
                            left: 0;
                            bottom: 0;
                            background-color: $dark-purple;
                            transition: .3s ease-in-out;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }

                        &.active {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #logout {
            z-index: 1;

            button {
                background-color: transparent;
                border: none;
                height: 100%;
                width: 50px;
                background-image: url('./img/logout.png');
                background-repeat: no-repeat;
                background-position: center center;

                &:hover {
                    scale: 0.90;
                }
            }
        }
    }

    @include sm {
        .container {
            display: flex;
            justify-content: flex-end;

            #burguer-menu {
                z-index: 2;
                height: 50px;
                width: 40px;
                position: relative;

                span {
                    position: absolute;
                    display: block;
                    background-color: $dark-purple;
                    width: 100%;
                    height: 3px;
                    border-radius: 2px;
                    top: 50%;

                    &:first-child {
                        top: 25%;
                    }

                    &:last-child {
                        top: 75%;
                    }
                }
            }
        }
    }
}

.svg-bg {
    position: fixed;
    top: -190px;
    right: -70px;
    z-index: -1;
    transform: rotate(-15deg);
}

.svg-bg-2 {
    position: fixed;
    bottom: -200px;
    left: 0px;
    z-index: 0;
    transform: rotate(-45deg);
}

.app {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.pagina {
    border-radius: 10px;
    border: solid 3px $light-purple;
    padding: 25px !important;
}


h4 {
    color: $dark-purple !important;
    border-bottom: 3px solid $light-purple;
    margin-bottom: 20px !important;
    padding-bottom: 10px;
}

.close {
    background-color: red;
    height: 20px;
    width: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .popup-content {
        background-color: white;
        padding: 20px;
        text-align: center;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            color: black;
            font-weight: 500;
            font-size: 20px;
            text-align: start;
            margin-bottom: 50px;
        }


        #noBtn,
        #yesBtn {
            align-items: center;
            border: 0;
            border-radius: 100px;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-flex;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 20px;
            min-height: 40px;
            width: 100%;
            overflow: hidden;
            padding: 0px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            touch-action: manipulation;
            transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;

            &:hover {
                scale: 0.98;
            }

        }

        #yesBtn {
            background-color: $dark-purple;
            color: #ffffff;
            margin-bottom: 10px;
        }

        #noBtn {
            color: rgba(0, 0, 0, 0.726);
            border: 1.2px solid black;
            background-color: transparent;
        }

    }
}


.form {
    margin-bottom: 0 !important;
}

.tarefas {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    // padding: 20px;
    gap: 30px 0;

    .tarefa {
        width: 100%;
        position: relative;
        border: 3px solid $light-purple;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-flow: column;
        gap: 10px;

        &-title {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            padding: 0 0 0 5px;
            width: 80%;
        }

        &-obs {
            position: relative;
            overflow: hidden;
            text-align: start;
            max-height: 25px;
            transition: 1s ease-in-out;
            font-size: 15px;

            p {
                display: block;
                white-space: normal;
                margin: 0;
                padding: 0 0 0 5px;
            }
        }

        &-data {
            font-size: 14px !important;
            display: flex;
            flex-flow: column;
            gap: 10px;

            .horario {
                border: none;
                background-color: transparent;
                width: 75px;
                padding: 0 0 0 5px;
            }

            .calendario {
                font-size: 14px !important;
                border: none;
                background-color: transparent;
                padding: 0 0 0 5px;
                width: 150px;
                color: black;
            }
        }

        &-options {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 10;

            .pontinhos {
                pointer-events: all;
                cursor: pointer;
            }

            .icons {
                display: none;
                position: absolute;
                overflow: hidden;
                width: 140px;
                border-radius: 5px;
                height: 0;
                opacity: 0;
                top: 30px;
                right: 0%;
                padding: 10px;
                border: 2px solid black;

                i {
                    // justify-content: space-between;
                    cursor: pointer;
                    display: flex !important;
                    color: black;
                    font-size: 16px;
                    gap: 20px;

                    &:hover {
                        scale: 0.9;
                    }

                }
            }
        }
    }

    .tarefa.active {
        .tarefa-obs {
            max-height: 500px;
        }
    }


}

#formNovaTarefa {
    form {
        background-color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 400px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        padding: 15px;
        border-radius: 20px;

        .form-group {
            width: 100%;

            label {
                width: 100%;
            }

            input {
                width: 100%;
            }

            textarea {
                width: 100%;
                resize: none;
            }
        }
    }
}

.empty::before {
    content: "Título";
    color: #aaaaaad2;
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    pointer-events: none;
}

.menu {
    position: fixed;
    left: 3%;
    top: 4%;
    border: 3px solid $light-purple;
    padding: 10px;
    border-radius: 10px;
    color: $dark-purple;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .ul {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

    .itens {
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        .menu-itens {
            max-height: 0px;
            overflow: hidden;
            transition: .7s;
        }

        ul {
            padding-left: 40px;
        }

        &:hover {
            .menu-itens {
                max-height: 500px;
            }
        }
    }
}
#btnNewTask {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    cursor: pointer;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        text-align: center;
        margin-left: 7px;
        border: 2px solid black;
        border-radius: 50%;
    }
    // &::after {
    //     content: '+';
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     position: absolute;
    //     height: 20px;
    //     width: 20px;
    //     top: 50%;
    //     transform: translate(0,-50%);
    // }
}